
html, body { height: 100%; width: 100%; margin: 0; }
 div { height: 100%; width: 100%; }

.fullheight {
  height: 100vh;
}

.LEActive{

  font-family:'clavo';font-weight:400;font-style:regular;color:#9A12B3;
}

.LEText{
    font-family:'clavo';font-weight:400;font-style:regular;color:black;
}

.LEText:hover{
  color:#FAD46B;
}

.LEButton{
  color:black;
  background-color:#EEEEEE;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:35px;
  padding-right:35px;
  font-size: 20px;

}
.LEButton:hover{
  color:white;
  background-color:black;
}

.tiles{
  height:55%;
}
.tiles2{
  height:45%;
}

@media only screen and (max-width : 600px) {

.tiles{
  height: 25%;
}
.tiles2{
  height: 25%;
}

}

@media only screen and (max-width : 992px) {

  .tiles{
    height: 25%;
  }
  .tiles2{
    height: 25%;
  }

}
