
html, body { height: 100%; width: 100%; margin: 0; }
 div { height: 100%; width: 100%; }

.fullheight {
  height: 100vh;
}

.LEActive{

  font-family:'clavo';font-weight:400;font-style:regular;color:#9A12B3;
}

.LEText{
    font-family:'clavo';font-weight:400;font-style:regular;color:black;
}

.LEText:hover{
  color:#FAD46B;
}

ß
